import url('styles.css');

/*Titulo do livro na pagina meu-livro*/
#tituloLivro {
  font-family: var(--fonte-principal);
}

.grid-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* BOTAO EDITAR, DELETAR E FAVORITAR */
.botao {
  top: 90px;
  padding: 10px;
  background-color: #638C6D;
  border: none;
  border-radius: 30px;
  cursor: pointer;
}

.botao img {
  height: auto;
}

.botao:hover {
  background-color: var(--cor-hover);
}

/* BOTAO EDITAR, DELETAR E FAVORITAR CONTAINER*/
.botoes-dir {
  display: flex;
  flex-direction: column;
  position: fixed;
  top: 220px;
  right: 50px;
  gap: 30px;
}

.botao-voltar{
 display: flex;
 padding: 15px;
 padding-top: 15px;
}

/*PAG MEU-LIVRO*/
.livro-container {
  display: flex;
  justify-content: flex-start; 
  align-items: flex-start;
  border-radius: 10px;
  padding: 10px;
  flex-wrap: wrap;
}

.info-bloco-geral{
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  gap: 10px;

}
.info-bloco {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin: 0 1px;
  flex: 1;
  gap:10px;
  margin-left: 50px;
  padding-top: 18px;
  font-size: 15px;
}

.info-bloco-geral{
  gap:1px
}

.label {
  font-weight: bold;
  margin-bottom: 5px;
  font-family: var(--fonte-principal);
  margin: 0;
}

.livro-info-img {
  width: 24px;
  height: 24px;
  margin-bottom: 2px;
}

.info-bloco p {
  margin: 0;
  font-family: var(--fonte-principal);
  line-height: 1.2;
}

.livro-capa {
  margin-top: 20px;
}

.livro-capa img {
  width: 150px;
  height: auto;
  margin-left: 20px;
  border-radius: 10px;
}

.livro-informacao {
  display: flex;
  flex-direction: column;
  padding-left: 20px;
  padding-top: 40px;
  font-family: var(--fonte-principal);
  gap: 30px;
  font-size: 20px;
  line-height: 0.2;
}

.livro-informacao p {
  display: flex;
  align-items: center;
  margin: 10px 0;
  padding-left: 20px;
  border: none;
}

.livro-informacao__img img {
  width: 25px;
  height: auto;
  margin-right: 20px;
}

.titulo__secundario{
  font-family: var(--fonte-titulo-livro);
  font-size: 25px;
  padding-left: 25px;
  font-weight: 200;
}

/*MODAL EDITAR LIVRO*/
#formEdicaoLivro {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.formulario-grupo {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.formulario-grupo label {
  margin-bottom: 5px;
  font-weight: normal;
}

.formulario-grupo input {
  width: 70%;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.formulario-botao {
  display: flex;
  justify-content: space-between;
  gap: 10px;
}

.botao-modal {
  padding: 10px 20px;
  background-color: #638C6D;
  border: none;
  border-radius: 5px;
  color: var(--cor-botao);
  cursor: pointer;
  font-family: var(--fonte-botao);
  width: auto;
}

.botao-modal:hover {
  background-color: var(--cor-hover);
}

/*ESTILO MODAL EXCLUIR*/
.formulario-botao-exclui{
  display: flex;
  justify-content: space-between;
  gap:30px;
  flex-direction: row;
  align-items: center;
  font-size: 16px;
  font-family: var(--fonte-principal);
}

.botao-modal-excluir {
  padding: 10px 20px;
  background-color: #638C6D;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-family: var(--fonte-botao);
  width: auto;
  font-size: 16px;
}

.botao-modal-excluir:hover {
  background-color: var(--cor-hover);
}

.botao-iniciar{
  border-radius: 10px;
  background-color: var(--cor-botao);
  cursor: pointer;
  border: none;
  font-family: var(--fonte-botao);
  width: 200px;
  height: 40px;
  padding: 10px 20px;
  font-size: 16px;
}

.botao-iniciar:hover{
  background-color: var(--cor-hover);
}

.container-botao-sessao{
  display: flex;
  align-items: center;
  justify-content: center;
}